*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 16px/1.5 'Halvetica neue';
    background: #000;
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 5px;
}

.timeline {
    /* background-color: #ffffff17; */
    /* border: 2px solid #ffffff1a; */
    box-shadow: 0 25px 45px #0000001a;
    backdrop-filter: blur(20px);
    padding: 50px 0px;
    /* max-width: 1300px; */
    margin: 2rem auto;
    border-radius: 10px;
    position: relative;
}

@keyframes zoomInOut{
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.2);
    }
}

.timeline .timeline_ul .timeline_li{
    list-style: none;
    position: relative;
    width: 6px;
    padding-top: 50px;
    background-color: #ffffff17;
    border: 2px solid #ffffff1a;
    box-shadow: 0 25px 45px #0000001a;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.timeline .timeline_ul .timeline_li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline .timeline_ul .timeline_li .content{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 2em;
    background: #fdc927;
    box-shadow: 0px 0px 0px 6px #ffffff66;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #000;
    margin: 1rem 0;
}

.timeline .timeline_ul .timeline_li .content::before{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline .timeline_ul .timeline_li .content::after{
    content: '';
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 100%;
    left: 20%;
    /* background: #fff; */
    animation: zomInOut 8s linear infinite;
}

.timeline .timeline_ul .timeline_li:nth-child(odd) .content{
    left: 45px;
}

.timeline .timeline_ul .timeline_li:nth-child(odd) .content::before{
    left: -18px;
    border-width: 8px 16px 8px 0px;
    border-color: transparent #8a8686 transparent transparent;
}

.timeline .timeline_ul .timeline_li:nth-child(even) .content{
    left: -429px;
}

.timeline .timeline_ul .timeline_li:nth-child(even) .content::before{
    right: -18px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent #8a8686;
}


.timeline .timeline_ul .timeline_li .content .img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 10px;
    background: #fdc927;
    box-shadow: 0px 0px 0px 6px #ffffff66;
    margin-top: -10rem;
    max-width: 100px;
    max-height: 100px;
}

.event_title{
    display: block;
    font-size: 1.2rem;
    margin-top: -1rem;
    float: right;
    text-transform: uppercase;
}

.timeline .timeline_ul .timeline_li::after{
    transition: background 0.5s ease-in-out;
}


.timeline .timeline_ul .timeline_li.in_view::after {
        background-color: #cabc1b;
}


.timeline .timeline_ul .timeline_li .content{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline .timeline_ul .timeline_li:nth-child(odd) .content{
    transform: translate3d(200px, 0,0);
}

.timeline .timeline_ul .timeline_li:nth-child(even) .content{
    transform: translate3d(-200px, 0,0);
}

.timeline .timeline_ul .timeline_li.in_view .content{
    transform: none;
    visibility: visible;
    opacity: 1;
}

.timeline_ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ....................media query......................... */

@media screen and (max-width:900px) {
    .timeline .timeline_ul .timeline_li .content{
        width: 250px;
    }

    .timeline .timeline_ul .timeline_li:nth-child(even) .content{
        left: -290px;
    }
}

@media screen and (max-width:600px) {
    .timeline .timeline_ul .timeline_li {
      left: 20px;
    }

    .timeline .timeline_ul .timeline_li .content{
        width: calc(100vw - 91px);
    }

    .timeline .timeline_ul .timeline_li:nth-child(even) .content{
        left: 45px;
        border-width: 8px 16px 8px 0px;
        background-color: transparent #000 transparent transparent;
    }

    .timeline .timeline_ul .timeline_li:nth-child(even) .content::before{
        left: -15px;
        border-width: 8px 16px 8px 0px;
        background-color: transparent #000 transparent transparent;
    }

    @media screen and (max-width:430px) {
        .timeline_ul {
        position: absolute;
        left: 10px;
    }
        .timeline .timeline_ul .timeline_li {
          left: 20px;
        }
    
        .timeline .timeline_ul .timeline_li .content{
            width: calc(100vw - 91px);
        }
    
        .timeline .timeline_ul .timeline_li:nth-child(even) .content{
            left: 45px;
            border-width: 8px 16px 8px 0px;
            background-color: transparent #000 transparent transparent;
        }
    
        .timeline .timeline_ul .timeline_li:nth-child(even) .content::before{
            left: -15px;
            border-width: 8px 16px 8px 0px;
            background-color: transparent #000 transparent transparent;
        }


    /* .timeline-clippy .timeline_ul .timeline_li::after{
        width: 40px;
        height: 40px;
        border-radius: 0px;
    }

    .timeline-rhombus .timeline_ul .timeline_li::after{
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0%50%);
    }
    .timeline-rhombus .timeline_ul .timeline_li.content::before{
        bottom: 12px;
    }

    .timeline-star .timeline_ul .timeline_li::after{
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%,2% 35%, 39% 35%);
    }

    .timeline-heptagon .timeline_ul .timeline_li::after{
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%,25% 100%, 0% 60%, 10% 20%);
    }

    .timeline-heptagon .timeline_ul .timeline_li::after{
        animation: scaleAnimation 2s infinite;
    }

    @keyframes scaleAnimation{
        0%{
            transform: translateX(-50%) scale(1);
        }
        50%{
            transform: translateX(-50%) scale(1.25);
        }
        100%{
            transform: translateX(-50%) scale(1);
        }
    } */

}